<div class="header">
  <h1>Filter Tube Lines
    {{#link-to 'index' tagName="span"}}{{fa-icon "chevron-circle-left" spin=false}}{{/link-to}}
  </h1>
</div>

<div class="main">
  <ul class="filter">
    {{#each tubeStatus as |line|}}
      {{input type="checkbox" id=line.id name=line.id checked=line.selected change=(action "saveList" line.index) }} <label for={{line.id}}>{{line.name}}</label>
    {{/each}}
  </ul>
</div>

<div class="footer">
</div>
